@font-face {
    font-family: 'Source Sans Premium';
    src: url(./fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
}

@font-face {
    font-family: 'Source Sans Premium';
    src: url(./fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
    font-weight: 200;
}

body {
    background-color: lightcoral;
}

html body { 
    color: black;
    background-color: skyblue;
}

.food-items-wrapper{
    background-color: lightpink;
    height: 300px;
    width: 300px;

    background-image: url(./assets/images/food-items.svg);
    background-repeat: no-repeat;
    background-size: 300px;
}

img#food-items {
    background-size: 200px;
}

.article {
    border: 1px solid gray;
}

.article .title {
    font-size: 1.5em;
    font-family: 'Source Sans Pro';
    font-weight: 400;
}

.article .description {
    font-size: 12px;
}

h2 {
    color: #5c5c5c;
    font-weight: 600;
    font-size: 15px;
}

tr td {
    color: white;
}

tr th {
    color: goldenrod
}

p.strong {
    color: #00F;
}

/* score - 100 */
#why-need-html {
    color: red !important;
}

/* score - 11 */
html .highlight {
    color: lightyellow;
}

/* score - 110 */
#why-need-html.highlight {
    color: lightgreen;
}