address {
    border: 1px solid black;
    margin: 20px;
    padding: 15px;
    position: relative;
}

.close-footer {
    position: absolute;
    right: 0;
    top: -10px;
    border: 1px solid green;
    padding: 10px;
    background-color: aquamarine;
}

.book-btn button{
    /* float: right; */
    background-color: aqua;
    margin-bottom: 50px;
    padding: 10px;
    border: 1px dotted black;
    border-radius: 20px;
    /* position: absolute; */
    position: relative;
    /* top: 10px; */
    bottom: 10px;
    /* right: 20px; */
}

header{
    z-index: 100;
    position: fixed;
    /* right: 20px; */
    top: 0;
    left: 0;
    background-color: bisque;
    width: 100%;
    /* bottom: 20px */
}

#bullet-points{
    margin-top: 120px;
}

.box {
    height: 200px;
    width: 200px;
    background-color: azure;
    position: relative;
}

.box .circle {
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 100px;
    /* display: none; */
}

ol li{
    /* display: inline-block; */
}